@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('./chessboard.css');
@import url('./sidebar.css');

@font-face {
    font-family: 'Granotta';
    src: url('../assets/fonts/Granotta.ttf');
}

* {
    box-sizing: border-box;
}

:root {
    --board-rotate-time: 1000ms;
}

html,
body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 0;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    background-size: cover;
    background: linear-gradient(135deg, var(--bg-gradient-start) 0%, var(--bg-gradient-end) 100%) no-repeat 50% 50%;
    color: var(--text-color);
    padding-right: 0 !important; /* Because of Bootstrap Modals */

    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    scrollbar-width: thin;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}

.modal-content {
    background-color: var(--even);
}

.modal-content .btn-close {
    background-color: brown;
}

.modal-header,
.modal-footer {
    border-color: var(--odd);
}

.custom-select {
    background: var(--custom-select-bg) no-repeat right .75rem center/8px 10px;
    background-color: var(--input-background-color);
    color: var(--text-color);
    border-color: var(--input-border-color);
}

.custom-control-label::before {
    background-color: var(--input-background-color);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active);
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
    border: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.table {
    color: var(--text-color);
}

.table.table-hover tbody tr:hover *:not(button) {
    color: var(--text-color-hover);
}

.form-range {
    border: none;
}

.menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
}

.hidden {
    display: none;
}

.visible {
    display: unset;
}

#app {
    width: 100%;
    min-width: 400px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-size: cover;
}

#app > header {
    width: 100%;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 12px;
    justify-content: space-between;
}

#app > header h1 {
    font-family: 'Granotta';
    font-size: 2.5em;
}

.sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.10);
    transition: width 100ms;
}

.sidebar.sidebar-right {
    left: unset;
    right: 0;
}

.sidebar.center {
    right: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sidebar.center.open {
    right: 0;
}

.sidebar.open {
    width: 400px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 0;
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.sidebar-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 950;
    background-color: rgba(0, 0, 0, 0.4);
    /*backdrop-filter: blur(2px);*/
}

.sidebar a {
    transition: all 100ms;
}

.sidebar a.active {
    color: var(--body-color-alt);
}

.mainMenu {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 64px;
    text-align: center;
    padding-top: 24px;
}

.mainMenu .gamemodes,
.mainMenu .mode-selector {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 1em;
}

.mainMenu .variant-selector .form-group {
    text-align: left;
}

.mainMenu .variant-selector .form-group input {
    font-size: 1rem;
}

.mainMenu .variant-selector .playerColor {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.mainMenu .variant-selector .playerColor img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    object-position: left;
}

.mainMenu .variant-selector .playerColor .random {
    position: relative;
}

.mainMenu .variant-selector .playerColor .random img:first-child {
    width: 24px;
    height: 48px;
}

.mainMenu .variant-selector .playerColor .random img:last-child {
    width: 24px;
    height: 48px;
    object-position: right;
}

.mainMenu thead {
    background-color: var(--btn-background-color-hover);
    filter: drop-shadow(0 0 4px var(--drop-shadow-color));
    color: var(--btn-text-color);
    position: sticky;
    top: 0;
}

.mainMenu .settings .form-group {
    text-align: left;
}

#app .content {
    display: grid;
    grid-template-columns: minmax(max-content, 250px) max-content 250px;
    grid-column-gap: 32px;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.waiting-player {
    text-align: center;
    background-color: var(--card-opaque-bg);
    padding: 48px;
}

.game-container {
    position: relative;
}

.blur-background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    cursor: unset;
    backdrop-filter: blur(1px);
    text-align: center;
}

footer {
    padding: 24px 0;
    font-size: 0.85em;
}

footer p {
    margin: 0;
}

@media (max-width: 922px) {
    #app .content {
        grid-template-columns: max-content;
        grid-template-rows: max-content max-content max-content;
        grid-row-gap: 32px;
        padding: 8px;
    }

    .sidebar-right {
        font-size: 1.2em;
    }
}

@media (max-width: 464px) {
    #app .content {
        padding: 4px;
    }
}

@media (max-width: 400px) {
    .sidebar.open {
        width: 100%;
    }
}
